* {
    margin: 0;
    padding: 0;
}
body {
    background-color:dimgray;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.confirm-window {
    background-color: rgb(245, 242, 238);
    max-width: 25%;
    height: auto;
    border-radius: 2%;
    padding: 32px;
    gap: 32px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.confirm-window__upper-text {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    color: var(--neutrals-2, #23262F);
    font-family: DM Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.32px;
}
.cross {
    display: flex;
    align-items: center;
    justify-content: center;
}
.x-btn {
    max-height: 18px;
    max-width: 18px;
}
.confirm-window__middle-text {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: var(--neutrals-4, #777E90);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
}
.confirm-window__buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.confirm-window__buttons--remove {
    background-color: #3772FF;
    padding: 16px 24px;
    gap: 12px;
    border-radius: 90px;
    align-self: stretch;
    border: 1px;
}
.confirm-window__buttons--cancel {
    background-color: #b3b3b4;
    padding: 16px 24px;
    gap: 12px;
    border-radius: 90px;
    align-self: stretch;
    border: 1px;
}
@media all and (max-width: 1250px) {
    .confirm-window {
        max-width: 30%;
    }
}
@media all and (max-width: 1050px) {
    .confirm-window {
        max-width: 35%;
    }
}
@media all and (max-width: 900px) {
    .confirm-window {
        max-width: 40%;
    }
}