* {
    margin: 0;
    padding: 0;
}
$primary-1: #3772FF;
$primary-2: #9757D7;
$primary-3: #EF466F;
$primary-4: #45B26B;
$neutrals-1: #141416;
$neutrals-2: #23262F;
$neutrals-3: #353945;
$neutrals-4: #777E90;
$neutrals-5: #B1B5C3;
$neutrals-6: #E6E8EC;
$neutrals-7: #F4F5F6;
$neutrals-8: #FCFCFD;
::-webkit-scrollbar {
    height: 4px;
}
::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 6px;
}
.txt-primary-1 {
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
}
.txt-primary-2 {
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}
.txt-secondary {
    color: $neutrals-4;
    text-align: center;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    text-decoration: none;
}
.button-1 {
    border-radius: 90px;
    border: none;
    background: $primary-1;
    color: $neutrals-8;
    padding: 12px 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.button-1:active {
    background: $primary-4;
}
.button-2 {
    color: $neutrals-2;
    background: $neutrals-8;
    padding: 8px 12px;
    border-radius: 90px;
    border: 2px solid $neutrals-6;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.button-2:hover {
    background: $neutrals-4;
    color: $neutrals-8;
}
.button-2:active {
    background: $neutrals-3;
}
.divider {
    display: flex;
    height: 1px;
    background: $neutrals-6;
    width: 100%;
}
.mobile {
    display: none;
}
body {
    font-family: 'DM Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}
.header {
    display: flex;
    align-items: center;
    padding: 20px 160px;
    justify-content: space-between;
}
.header__left-content {
    display: flex;
    align-items: center;
    gap: 32px;
    position: relative;
    &--logo {
        position: absolute;
        left: -100px;
        top: -30px;
    }
    &--logo-text {
        color: $neutrals-2;
        font-family: Poppins;
        font-size: 24px;
        font-weight: 600;
        line-height: 32px;
        letter-spacing: -0.48px;
    }
    &--divider {
        width: 2px;
        height: 40px;
        border-radius: 2px;
        background: $neutrals-6;
    }
    &--text {
        text-decoration: none;
        color: $neutrals-4;
        text-align: center;
    }
}
.header__right-content {
    display: flex;
    align-items: center;
    gap: 24px;
    &__search-bar {
        border-radius: 8px;
        border: 2px solid $neutrals-6;
        display: flex;
        align-items: center;
        gap: 12px;
        padding: 0 12px 0 16px;
        &--input {
            padding: 10px 0 10px 0;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
        }
        &--button {
            border: 0;
            background: transparent
        }
        &--button:hover {
            cursor:pointer;
        }
    }
    &--mobile-btn {
        display: none;
    }
    &__notification {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        &--bell {
            border: 0;
            background: none;
        }
        &--bell:hover {
            cursor: pointer;
        }
        &--status {
            position: absolute;
            right: 0px;
            top: 0px;
            width: 12px;
            height: 12px;
            border-radius: 8px;
            background: $primary-4;
        }
    }
    &__buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 12px;
        &--upload:hover {
            cursor: pointer;
        }
        &--profile {
            border-radius: 90px;
            border: 2px solid $neutrals-6;
            background: none;
            display: flex;
            padding: 4px 12px 4px 4px;
            justify-content: center;
            align-items: center;
            gap: 12px;
            &__avatar {
                width: 32px;
                height: 32px;
                border-radius: 48px;
                background: $primary-4;
            }
            &__menu {
                display: none;
            }
            &__balance {
                color: $neutrals-2;
                text-align: center;
                gap: 4px;
            }
            &__balance span:last-child {
                color: $primary-4;
            }
        }
        &--profile:hover {
            cursor: pointer;
        }
    }
}
input {
    border: none;
    outline: none;
    font-family: Poppins;
}
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.profile-banner {
    width: 100%;
    height: 400px;
    background-image: url(./img/Kujikawa.Rise.full.1185914.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    &__buttons {
        gap: 15px;
        margin-right: 10%;
        margin-bottom: 2%;
        &__layout {
            padding: 12px 16px;
            border-radius: 90px;
            border: 2px solid $neutrals-4;
            background: transparent;
            color: $neutrals-8;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            gap: 12px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }
        &__layout:hover {
            background: $neutrals-4;
        }
        &__layout:active {
            background: $neutrals-5;
            color: $neutrals-2;
        }
    }
}
.main-container {
    display: inline-flex;
    align-items: flex-start;
    gap: 64px;
    margin: 0 10% 0 32%;
    position: relative;
    padding-bottom: 136px;
    &--left {
        display: flex;
        max-width: 256px;
        padding: 32px;
        flex-direction: column;
        align-items: center;
        gap: 48px;
        border-radius: 16px;
        border: none;
    }
    &__mini-profile {
        display: flex;
        width: 256px;
        padding: 32px;
        flex-direction: column;
        align-items: center;
        gap: 48px;
        border-radius: 16px;
        border: 1px solid $neutrals-6;
        background: $neutrals-8;
        box-shadow: 0px 40px 32px -24px rgba(15, 15, 15, 0.12);
        position: absolute;
        top: -9%;
        left: -30%;
        &__main-wrap {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 24px;
            &--avatar {
                width: 160px;
                height: 160px;
                border-radius: 128px;
                background: $primary-4;
            }
        }
        &__main-info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;
            &__container {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 4px;
                &--name {
                    display: flex;
                    align-items: flex-start;
                    gap: 4px;
                    color: $neutrals-2;
                    font-family: Poppins;
                    font-size: 24px;
                    font-weight: 600;
                    line-height: 32px;
                }
                &--id {
                    display: flex;
                    align-items: flex-start;
                    gap: 8px;
                    color: $neutrals-2;
                }
            }
            &__link {
                display: flex;
                align-items: flex-start;
                gap: 8px;
                color: $neutrals-2;
            }
        }
        &__actions {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 8px;
            &--btn {
                display: flex;
                padding: 10px;
                align-items: flex-start;
                gap: 10px;
                border-radius: 40px;
                border: 2px solid $neutrals-6;
            }
        }
        &__social-media {
            display: flex;
            align-items: center;
            gap: 24px;
            &--btn {
                border: none;
                background: transparent;
            }
            &--btn:hover {
                cursor: pointer;
            }
        }
    }
}
.following {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 48px;
    padding-top: 5%;
    &__sub-navigation {
        display: flex;
        align-items: flex-start;
        gap: 12px;
        align-self: stretch;
        &--item {
            display: flex;
            padding: 6px 12px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            color: $neutrals-4;
            border-radius: 100px;
            border: transparent;
            background: transparent;
            cursor: pointer;
            transition: background-color 0.3s ease; 
        }
        &--item:hover {
            background: $neutrals-5;
        }
        &--item:active {
            background: $neutrals-3;
            color: $neutrals-8;
        }
    }
    &__showcase-menu {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 32px;
        position: relative;
        &__frame {
            display: flex;
            width: 800px;
            justify-content: space-between;
            align-items: flex-start;
            &__member {
                display: flex;
                width: 304px;
                align-items: flex-start;
                gap: 20px;
                flex-shrink: 0;
                &__title-action {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    gap: 12px;
                    flex: 1 0 0;
                    &__name-wrap {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        align-self: stretch;
                        &__name {
                            display: flex;
                            align-items: flex-start;
                            gap: 4px;
                            align-self: stretch;
                        }
                    }
                }
                &__avatar {
                    display: flex;
                    width: 88px;
                    height: 88px;
                    align-items: center;
                    flex-shrink: 0;
                    border-radius: 128px;
                }
            }
            &__artworks {
                display: inline-flex;
                align-items: flex-start;
                gap: 8px;
                overflow-x: scroll;
                &--img {
                    display: flex;
                    width: 112px;
                    height: 88px;
                    padding-right: 0px;
                    justify-content: center;
                    align-items: center;
                    border-radius: 12px;
                    background: var(--neutrals-6, #E6E8EC);
                }
            }
            &__gradient {
                position: absolute;
                position: absolute;
                height: 100%;
                width: 100%;
                left: 0%;
                box-shadow: inset -50px 0 43px -35px #fff;
            }
        }
    }
    &__load {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        align-self: stretch;
    }
}
footer {
    padding: 80px 160px 0px 160px;
}
.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 48px;
    &__top {
        display: flex;
        margin: 0 auto;
        justify-content: space-around;
        width: 100%;
        &__crypter-logo {
            &--img {
                margin-bottom: 32px;
            }
        }

        &__newsletter {
            &__input-div {
                display: flex;
                width: 352px;
                height: 48px;
                justify-content: space-between;
                padding-right: 8px;
                align-items: center;
                gap: 18px;
                border-radius: 90px;
                border: 2px solid $neutrals-6;
                &__btn {
                    display: flex;
                    padding: 4px;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    border-radius: 100px;
                    background: $primary-1;
                    border: none;
                }
            }
        }
    }
    &__bottom {
        width: 100%;
        margin-bottom: 32px;
        &__bar {
            display: flex;
            justify-content: space-between;
            margin-top: 32px;
            &__cookies {
                display: flex;
                gap: 16px;
                &--1 {
                    color: $neutrals-2;
                }
                &--2 {
                    color: $primary-1;
                    text-align: right;
                    font-family: Poppins;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 20px;
                    text-decoration: none;
                }
            }
        }
    }
}
.footer-link {
    display: block;
    text-decoration: none;
    color: $neutrals-4;
    margin-bottom: 24px;
}

.newsletter-input {
    padding: 8px 8px 8px 16px
}
.newsletter-txt {
    display: block;
    margin-bottom: 40px;
}
.footer-mobile {
    margin-bottom: 20px;
    &__btn {
        display: none;
    }
}


