* {
    margin: 0;
}
body {
    background-color: #1f2427;
}
.latest-episodes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 100px;
    margin-bottom: 66px;
}
.latest-episodes-text {
    color: #FFF;
    font-family: DM Sans;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 79.2px;
    letter-spacing: 2.88px;
}
.button-view-all {
    background-color: darkcyan;
    width: 180px;
    color: #FFF;
    height: 50px;
    border: 0px;
    border-radius: 3px;
}
.button-view-all:hover {
    background-color: cyan;
}
.episodes {
    padding-left: 70px;
    padding-right: 70px;
}
.episode-cell {
    display: flex;
    border-radius: 32px;
    background-color: #000;
    margin-bottom: 60px;
}
.layout {
    display: flex;
    padding: 40px;
}
.episode-3-content {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}
.gear {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #191919;
    border-radius: 6px;
    margin-bottom: 48px;
    width: 73px;
    height: 27px;
    color: #FFF;
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
}
.tips {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #191919;
    border-radius: 6px;
    margin-bottom: 48px;
    width: 136px;
    height: 27px;
    color: #FFF;
    font-family: DM Sans;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
}
.sequence-of-episodes {
    color: darkcyan;
    margin-bottom: 18px;
}
.episode-3-text {
    color: #FFF;
    font-family: DM Sans;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 70.4px;
    letter-spacing: 2.56px;
    margin-bottom: 28px;
    width: 701px;
}
.episode-3-bottom-text {
    color: rgba(255, 255, 255, 0.70);
    font-family: DM Sans;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 33px;
    margin-bottom: 18px;
}