* {
	margin: 0;
	padding: 0;
}

.main {
	background-color: #191919;
	padding-bottom: 80px;
}

.container {
	width: 1300px;
	margin: 0 auto;
}

.btn-castaway {
	padding: 12px 20px;
	background-color: #118DA8;
	border-radius: 6px;
	color: white;
	border: none;
}

.welcome {
	padding: 40px 50px;
}

.welcome-image {
	width: 650px;
	height: 873px;
}

.welcome-wrap {
	display: flex;
	justify-content: center;
}

.welcome-wrap-text {
  display: flex;
	align-items: start;
	justify-content: center;
	flex-direction: column;
	width: 50%;
	margin-left: 60px;
}

.welcome-text {
	color: white;
	font-size: 70px;
	font-weight: 400;
	line-height: 88px;
}

.welcome-text-next {
	font-size: 75px;
}

.welcome-text-level {
	font-size: 80px;
	font-weight: 700;
}

.text-wrapper {
	position: relative;
}

.next-line-img {
	position: absolute;
	bottom: 0;
}

.welcome-apps {
	margin-top: 75px;
	padding-left: 22px;
}

.welcome-apps-text {
	margin-bottom: 16px;
	font-size: 15px;
	color: white
}

.welcome-apps-images {
	display: flex;
}

.welcome-apps-img:not(:last-child) {
	margin-right: 17px;
}

.latest-episodes {
	margin-top: 90px;
	padding: 40px 50px;
}

.latest-episodes-title-wrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 40px;
}

.latest-episodes-title {
	font-size: 64px;
	color: white;
}

.episode-item-block {
	display: flex;
	padding: 40px;
	background-color: #000;
	border-radius: 32px;
}

.episode-item-block:not(:last-child) {
	margin-bottom: 60px;
}

.episode-item-tag {
	padding: 0 16px;
	margin-bottom: 48px;
	border-radius: 6px;
	background: #191919;
	color: white;
}

.episode-item-content {
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: space-between;
	margin-left: 60px;
}

.episode-item-number {
	margin-bottom: 18px;
	color: #118DA8;
	font-size: 17px; 
}

.episode-item-title {
	margin-bottom: 28px;
	color: #FFF;
	font-size: 64px;
	line-height: 70.4px;
	letter-spacing: 2.56px; 
}

.episode-item-text {
	margin-bottom: 18px;
	color: rgba(255, 255, 255, 0.70);
	font-size: 22px;
	line-height: 33px;
}


.about {
	padding: 40px 50px;
}

.about-wrapper {
	display: flex;
}

.about-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
	margin-right: 60px;
}

.about-content-btn {
	width: 112px;
	height: 112px;
	margin-bottom: 20px;
	border-radius: 100%;
	background: #118DA8;
	border: none;
}

.about-content-link {
	font-size: 18px;
	color: #118DA8;
	text-decoration: none;
}

.about-content-name {
	color: #FFF;
	font-size: 65px;
	line-height: 79.2px; /* 121.846% */
	letter-spacing: 2.88px;
	margin-bottom: 28px;
}

.about-content-text {
	color: rgba(255, 255, 255, 0.70);
	font-size: 22px;
	line-height: 33px; /* 150% */
}

.about-content-text:not(:last-child) {
	margin-bottom: 28px;
}