* {
    margin: 0;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2427;
}
.sections {
    display: flex;
    flex-direction: column;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 50px;
}
.container-left {
    margin-right: 60px;
    position: relative;
}
.movethisimage2 {
    position: absolute;
    left: -25px;
    top: -25px;
}
.text-one {
    color: #FFF;
    width: 526px;
    font-family: DM Sans;
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: 88px; /* 125.714% */
    letter-spacing: 3.2px;
    margin-bottom: 0;
}
.text-two {
    color: #FFF;
    font-family: DM Sans;
    font-size: 75px;
    font-style: normal;
    font-weight: 400;
    line-height: 88px; /* 117.333% */
    letter-spacing: 3.2px;
    margin-top: 0;
}
.text-three {
    color: #FFF;
    font-family: DM Sans;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: 88px; /* 110% */
    letter-spacing: 3.2px;
    margin-left: 25px;
    margin-top: 0;
}
.right-two {
    display: flex;
    align-items: center;
    margin-top: 0;
    position: relative;
}
.movethisimage {
    position: absolute;
    top: -5px;
    left: -7px;
    width: 160px;
    height: 104px;
    flex-shrink: 0;
}
.listen-on {
    width: 66px;
    color: #FFF;
    font-family: DM Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 160% */
}
.bottom a {
    margin-right: 17px;
}
.latest-episodes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 100px;
    margin-bottom: 66px;
}
.latest-episodes-text {
    color: #FFF;
    font-family: DM Sans;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 79.2px;
    letter-spacing: 2.88px;
}
.button-view-all {
    background-color: darkcyan;
    width: 180px;
    color: #FFF;
    height: 50px;
    border: 0px;
    border-radius: 3px;
}
.button-view-all:hover {
    background-color: cyan;
}
.episodes {
    padding-left: 70px;
    padding-right: 70px;
}
.episode-cell {
    display: flex;
    border-radius: 32px;
    background-color: #000;
    margin-bottom: 60px;
}
.layout {
    display: flex;
    padding: 40px;
}
.episode-3-content {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}
.gear {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #191919;
    border-radius: 6px;
    margin-bottom: 48px;
    width: 73px;
    height: 27px;
    color: #FFF;
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
}
.tips {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #191919;
    border-radius: 6px;
    margin-bottom: 48px;
    width: 136px;
    height: 27px;
    color: #FFF;
    font-family: DM Sans;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
}
.sequence-of-episodes {
    color: darkcyan;
    margin-bottom: 18px;
}
.episode-3-text {
    color: #FFF;
    font-family: DM Sans;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 70.4px;
    letter-spacing: 2.56px;
    margin-bottom: 28px;
    width: 701px;
}
.episode-3-bottom-text {
    color: rgba(255, 255, 255, 0.70);
    font-family: DM Sans;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 33px;
    margin-bottom: 18px;
}
.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 70px;
}
.text-container {
    margin-right: 60px;
}
.blue-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 112px;
    height: 112px;
    border-radius: 400px;
    border: 0px;
    background: #118DA8;
    margin-bottom: 20px;
} 
.blue-button:hover {
    background-color: cyan;
}
.text-host {
    color: #118DA8;
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
}
.h2-text {
    color: #FFF;
    font-family: DM Sans;
    font-size: 65px;
    font-style: normal;
    font-weight: 400;
    line-height: 79.2px;
    letter-spacing: 2.88px;
    margin-bottom: 28px;
}
.bottom-text {
    color: rgba(255, 255, 255, 0.70);
    font-family: DM Sans;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 33px;
    margin-bottom: 33px;
}
.newsletter-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 70px;
    border-radius: 32px;
    background: #000;
}
.newsletter-block-text {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    position:relative
}
.form-block {
    display: flex;
    flex-direction: column;
}
.input-form {
    border-radius: 6px;
    border: 1px solid #191919;
    background: #191919;
    width: 522px;
    height: 82px;
    margin-bottom: 20px;
    font-family: DM Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 28.8px;
}
.submit-btn {
    width: 87px;
    height: 48px;
    border-radius: 6px;
    background: #118DA8;
    border: 0px;
}


