button {
    border: 1px solid orange;
    background-color: orange;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 30px;
}
#my-container {
    width: 475px;
    height: 475px;
    background: pink;
    position: relative;
}
#animate-fox {
    width: 75px;
    position: absolute;
}