.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 600px; /* Adjust the width to your desired size */
    height: 500px; /* Adjust the height to your desired size */
}

.image-with-text {
    text-align: center; /* Center text horizontally */
}

.image-with-text img {
    width: 100px; /* Adjust the width of the images */
    height: 100px; /* Adjust the height of the images */
    margin-bottom: 20px; /* Add margin to create vertical spacing */
}

.image-text {
    font-size: 14px; /* Adjust the font size */
    margin: 0; /* Remove default margin */
}