body {
    font-family: 'DM Sans', sans-serif;
    margin: 0;
}
.container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.description {
    color: #777E90;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px; 
    text-transform: uppercase;
    margin-bottom: 12px;
    display: inline-block;
}
.title {
    color: #23262F;
    font-size: 64px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: -1.28px;
    margin: 0 0 20px;
}
.description-2 {
    color: #777E90;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 40px;
    display: inline-block;
}
.buttons {
    display: flex;
}
.btn {
    border-radius: 90px;
    padding: 16px 24px;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    border: none;
}
.earn {
    background: #3772FF;
    color: #FCFCFD;
    margin-right: 16px;
}
.discover {
    background: #E6E8EC;
    color: #23262F;
}
