@media all and (max-width: 1366px) {
  .main-container__mini-profile {
    left: -28%;
  }
  .profile-banner {
    height: 350px;
  }
  footer {
    padding: 60px 100px 0px 100px;
  }
}
@media all and (max-width: 1200px) {
  .header {
    padding: 20px 60px;
  }
  .main-container__mini-profile {
    left: -33%;
  }
  .profile-banner {
    height: 300px;
  }
  footer {
    padding: 50px 60px 0px 60px;
  }
  .following__showcase-menu__frame {
    width: 600px;
  }
}
@media all and (max-width: 900px) {
  .header {
    padding: 20px 10px;
  }
  .header__left-content a {
    display: none;
  }
  .header__left-content--divider {
    display: none;
  }
  .main-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 10% 0 10%;
    padding-bottom: 40px;
  }
  .main-container__mini-profile {
    left: 23%;
    top: -6%;
  }
  .following {
    padding-top: 85%;
  }
  .profile-banner {
    align-items: center;
    justify-content: center;
  }
  .profile-banner__buttons {
    margin: 0;
  }
  .footer-container__top {
    flex-direction: column;
  }
  .footer-container__top__crypter-logo {
    margin-bottom: 20px;
  }
  .footer-container__top__links {
    margin-top: 20px;
  }
  .footer-container__top__links--txt {
    font-size: 12px;
    font-weight: 700;
    line-height: 12px;
    text-transform: uppercase;
  }
  .footer-container__top__newsletter {
    margin-top: 20px;
  }
  .mobile {
    display: flex;
  }
  .mobile-hide {
    display: none;
  }
  .footer-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }
  .footer-mobile__btn {
    display: flex;
    border: none;
    background: none;
    cursor: pointer;
  }
}
@media all and (max-width: 700px) {
  .header__right-content__search-bar {
    padding: 0;
    border: none;
  }
  .header__right-content__search-bar--input {
    display: none;
  }
  .following {
    padding-top: 500px;
  }
  .following__load {
    display: none;
  }
  .following__showcase-menu__frame {
    width: 500px;
  }
}
@media all and (max-width: 550px) {
  .main-container__mini-profile {
    left: 0%;
    top: -6%;
    width: 234px;
  }
  .following__showcase-menu__frame {
    width: 300px;
    justify-content: center;
  }
  .following__showcase-menu__frame__member {
    width: 300px;
    align-items: center;
  }
  .following__showcase-menu__frame__member__title-action {
    flex-direction: row;
    align-items: center;
  }
  .following__showcase-menu__frame__member__title-action__name-wrap {
    width: 120px;
    flex-wrap: wrap;
  }
  .following__showcase-menu__frame__artworks {
    display: none;
  }
  .following__showcase-menu__frame__gradient {
    display: none;
  }
  .header {
    padding: 20px 25px;
    justify-content: space-between;
  }
  .header__right-content__search-bar--button {
    display: none;
  }
  .header__right-content__buttons--profile {
    padding: 0;
    border: none;
    cursor: pointer;
  }
  .header__right-content__buttons--profile__balance {
    display: none;
  }
  .header__right-content__buttons--profile__menu {
    display: flex;
  }
  .header__right-content--mobile-btn {
    display: flex;
  }
  .btn-mbl {
    display: none;
  }
  .footer-container__bottom__bar {
    justify-content: center;
  }
  .footer-container__bottom__bar__cookies {
    display: none;
  }
  .footer-container__top__newsletter__input-div {
    width: 240px;
  }
  .following__sub-navigation {
    width: 300px;
    overflow-x: scroll;
  }
}/*# sourceMappingURL=media.css.map */