@media all and (max-width: 1366px) {

    .main-container__mini-profile {
        left: -28%;
    }
    .profile-banner {
        height: 350px;
    }
    footer {
        padding: 60px 100px 0px 100px;
    }
}
@media all and (max-width: 1200px) {
    .header {
        padding: 20px 60px;
    }
    .main-container__mini-profile {
        left: -33%;
    }
    .profile-banner {
        height: 300px;
    }
    footer {
        padding: 50px 60px 0px 60px;
    }
    .following__showcase-menu__frame {
        width: 600px;
    }
}
@media all and (max-width: 900px) {
    .header {
        padding: 20px 10px;
        &__left-content a {
            display: none;
        }
        &__left-content--divider {
            display: none;
        }
    }
    .main-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 0 10% 0 10%;
        padding-bottom: 40px;
        &__mini-profile {
            left: 23%;
            top: -6%;
        }
    }
    .following {
        padding-top: 85%;
    }
    .profile-banner {
        align-items: center;
        justify-content: center;
        &__buttons {
            margin: 0;
        }
    }
    .footer-container__top {
        flex-direction: column;
        &__crypter-logo {
            margin-bottom: 20px;
        }
        &__links {
            margin-top: 20px;
            &--txt {
                font-size: 12px;
                font-weight: 700;
                line-height: 12px;
                text-transform: uppercase;
            }
        }
        &__newsletter {
            margin-top: 20px;
        }
    }
    .mobile {
        display: flex;
    }
    .mobile-hide {
        display: none;
    }
    .footer-mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 40px;
        &__btn {
            display: flex;
            border: none;
            background: none;
            cursor: pointer;
        }
    }
}
@media all and (max-width: 700px) {
    .header__right-content__search-bar {
        padding: 0;
        border: none;
    }
    .header__right-content__search-bar--input {
        display: none;
    }
    .following {
        padding-top: 500px;
        &__load {
            display: none;
        }
        &__showcase-menu__frame {
            width: 500px;
        }
    }
}
@media all and (max-width: 550px) {
    .main-container__mini-profile {
        left: 0%;
        top: -6%;
        width: 234px;
    }
    .following__showcase-menu__frame {
        width: 300px;
        justify-content: center;
        &__member {
            width: 300px;
            align-items: center;
            &__title-action {
                flex-direction: row;
                align-items: center;
                &__name-wrap {
                    width: 120px;
                    flex-wrap: wrap;
                }
            }
        }
        &__artworks {
            display: none;
        }
        &__gradient {
            display: none;
        }
    }
    .header {
        padding: 20px 25px;
        justify-content: space-between;
        &__right-content {
            &__search-bar--button {
                display: none;
            }
            &__buttons--profile {
                padding: 0;
                border: none;
                cursor: pointer;
                &__balance {
                    display: none;
                }
                &__menu {
                    display: flex;
                }
            }
            &--mobile-btn {
                display: flex;
            }
        }
    }
    .btn-mbl {
        display: none;
    }
    .footer-container__bottom__bar {
        justify-content: center;
        &__cookies {
            display: none;
        }
    }
    .footer-container__top__newsletter__input-div {
        width: 240px;
    }
    .following__sub-navigation {
        width: 300px;
        overflow-x: scroll;
    }
}